<script>
    $(document).ready(function () {
        $('.slider').bxSlider();
    });
</script>
<style>
    .bx-wrapper {
        max-width: 100%;
        border: none;
        -webkit-box-shadow: none !important;
    }
</style>
<!-- -------- END Features w/ icons and text on left & gradient title and text on right -------- -->
<div class="row">
    <div class="row justify-content-center text-center my-sm-5">
        <div class="col-lg-6">
            <!--  <span class="badge bg-primary mb-3">Nuestros profesores</span> -->
            <h2 class="text-dark mb-0">Nuestros Cursos</h2>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Deserunt ipsum sequi illo corporis
                dolore soluta nostrum distinctio, magnam voluptates nulla
                eveniet labore ut id consequatur, assumenda ex
                quidem inventore qui! </p>
        </div>
    </div>
</div>
</div>
<section>
    <div class="slider">
        <div class="row row-cols-2 align-items-center">
            <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
                <div class="rotating-card-container">
                    <div class="card card-rotate mt-md-0 mt-5">
                        <div class="front" style="background-image:
                          url(assets/img/climb/profesor.jpg); background-size:
                          cover;">
                            <div class="card-body py-7 text-center">
                                <i class="material-icons text-white text-4xl my-3"><br></i>
                                <h3 class="text-white"><br /></h3>
                                <p class="text-white opacity-8"><br></p>
                            </div>
                        </div>
                        <div class="back" style="background-image:
                          url(assets/img/climb/profesor.jpg); background-size:
                          cover;">
                            <div class="card-body pt-7 text-center">
                                <h3 class="text-white"><br></h3>

                                <a href=".//sections/page-sections/hero-sections.html" target="_blank"
                                    class="btn btn-white btn-sm w-50 mx-auto mt-3">Curso
                                    alfa</a>
                                <a href=".//sections/page-sections/hero-sections.html" target="_blank"
                                    class="btn btn-white btn-sm w-50 mx-auto mt-3">Curso
                                    alfa</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 ms-auto">
                <div class="row justify-content-start">
                    <h3 class="text-dark mb-0">Prof. Juan Perez</h3>
                    <h5 class="text-info mb-0">Lic. en Recursos Humanos | CEO
                        Human Capital </h5>
                    <br>
                    <p class="lead mt-5">Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Deserunt ipsum sequi
                        illo
                        corporis dolore soluta nostrum distinctio, magnam
                        voluptates nulla eveniet labore ut id consequatur,
                        assumenda ex quidem inventore qui! </p>
                    <p class="lead mt-1">Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Deserunt ipsum sequi
                        illo
                        corporis dolore soluta nostrum distinctio, magnam
                        voluptates nulla eveniet labore ut id consequatur,
                        assumenda ex quidem inventore qui! </p>
                    <div class="col-sm-8 mx-auto text-center">
                        <div class="btn btn-outline-info pr-5 pl-5">Cursos del
                            Profesor</div>
                    </div>
                </div>
                <div class="row justify-content-start mt-5">
                </div>
            </div>
        </div>
    </div>
</section>