<!-- -------- START HEADER 10 w/ carousel ------- -->
<div class="row" >
    <div class="row justify-content-center text-center my-sm-5">
        <div class="col-lg-6">
            <!--  <span class="badge bg-primary mb-3">Nuestros profesores</span> -->
            <h2 class="text-dark mb-0">Nuestros Cursos</h2>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Deserunt ipsum sequi illo corporis
                dolore soluta nostrum distinctio, magnam voluptates nulla
                eveniet labore ut id consequatur, assumenda ex
                quidem inventore qui! </p>
        </div>
    </div>
</div>
<section class="pt-5 pb-0" id="cursos">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-header p-0 mx-3 mt-n4 position-relative z-index-2">
                        <a class="d-block blur-shadow-image">
                            <img src="assets/img/climb/1.png" alt="img-blur-shadow"
                                class="img-fluid border-radius-lg">
                        </a>
                    </div>
                    <div class="card-body pt-3">
                        <p class="text-dark mb-2 text-sm">Entire Apartment • 3 Guests • 2 Beds</p>
                        <a href="javascript:;">
                            <h5>
                                PLANIFICACION DE RRHH
                            </h5>
                        </a>
                        <p>
                            Siri&#39;s latest trick is offering a hands-free TV viewing experience, that will allow
                            consumers to turn on or off their television, change inputs, fast forward.
                        </p>
                        <button type="button" class="btn btn-outline-info btn-sm mb-0">PROGRAMA</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-header p-0 mx-3 mt-n4 position-relative z-index-2">
                        <a class="d-block blur-shadow-image">
                            <img src="assets/img/climb/1.png" alt="img-blur-shadow"
                                class="img-fluid border-radius-lg">
                        </a>
                    </div>
                    <div class="card-body pt-3">
                        <p class="text-dark mb-2 text-sm">Private Room • 1 Guests • 1 Sofa</p>
                        <a href="javascript:;">
                            <h5>
                                Single room in the center of the city
                            </h5>
                        </a>
                        <p>
                            As Uber works through a huge amount of internal management turmoil, the company is also
                            consolidating more of its international business.
                        </p>
                        <button type="button" class="btn btn-outline-info btn-sm mb-0">PROGRAMA</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-header p-0 mx-3 mt-n4 position-relative z-index-2">
                        <a class="d-block blur-shadow-image">
                            <img src="assets/img/climb/2.png" alt="img-blur-shadow"
                                class="img-fluid border-radius-lg">
                        </a>
                    </div>
                    <div class="card-body pt-3">
                        <p class="text-dark mb-2 text-sm">Entire Apartment • 4 Guests • 2 Beds</p>
                        <a href="javascript:;">
                            <h5>
                                Independent house bedroom kitchen
                            </h5>
                        </a>
                        <p>
                            Music is something that every person has his or her own specific opinion about. Different
                            people have different taste, and various types of music.
                        </p>
                        <button type="button" class="btn btn-outline-info btn-sm mb-0 mx-auto">PROGRAMA</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card mt-5">
                    <div class="card-header p-0 mx-3 mt-n4 position-relative z-index-2">
                        <a class="d-block blur-shadow-image">
                            <img src="assets/img/climb/1.png" alt="img-blur-shadow"
                                class="img-fluid border-radius-lg">
                        </a>
                    </div>
                    <div class="card-body pt-3">
                        <p class="text-dark mb-2 text-sm">Entire Apartment • 2 Guests • 1 Bed</p>
                        <a href="javascript:;">
                            <h5>
                                Zen Gateway with pool and garden
                            </h5>
                        </a>
                        <p>
                            Fast forward, rewind and more, without having to first invoke a specific skill, or even
                            press a button on their remote.
                        </p>
                        <button type="button" class="btn btn-outline-info btn-sm mb-0">PROGRAMA</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card mt-5">
                    <div class="card-header p-0 mx-3 mt-n4 position-relative z-index-2">
                        <a class="d-block blur-shadow-image">
                            <img src="assets/img/climb/2.png" alt="img-blur-shadow"
                                class="img-fluid border-radius-lg">
                        </a>
                    </div>
                    <div class="card-body pt-3">
                        <p class="text-dark mb-2 text-sm">Entire Flat • 8 Guests • 3 Rooms</p>
                        <a href="javascript:;">
                            <h5>
                                Cheapest hotels for a luxury vacation
                            </h5>
                        </a>
                        <p>
                            Today, the company announced it will be combining its rides-on-demand business and UberEATS.
                        </p>
                        <button type="button" class="btn btn-outline-info btn-sm mb-0">PROGRAMA</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card mt-5">
                    <div class="card-header p-0 mx-3 mt-n4 position-relative z-index-2">
                        <a class="d-block blur-shadow-image">
                            <img src="assets/img/climb/1.png" alt="img-blur-shadow"
                                class="img-fluid border-radius-lg">
                        </a>
                    </div>
                    <div class="card-body pt-3">
                        <p class="text-dark mb-2 text-sm">Entire Apartment • 2 Guests • 1 Bed</p>
                        <a href="javascript:;">
                            <h5>
                                Cozy Double Room Near Station
                            </h5>
                        </a>
                        <p>
                            Different people have different taste, and various types of music have many ways of leaving
                            an impact on someone.
                        </p>
                        <button type="button" class="btn btn-outline-info btn-sm mb-0">PROGRAMA</button>
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-7 ms-auto text-end">
                <ul class="pagination pagination-primary mt-4">
                    <li class="page-item ms-auto">
                        <a class="page-link" href="javascript:;" aria-label="Previous">
                            <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="javascript:;">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:;">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:;">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:;">4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:;">5</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:;" aria-label="Next">
                            <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div> -->
    </div>
</section>

<!-- -------- END HEADER 11 w/ carousel ------- -->