<header class="header-2">
    <div class="page-header min-vh-75 relative" style="background-image:
        url('./assets/img/climb/teamunido.jpg')">
      <span class="mask bg-gradient-climb"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
            <img src="logo.png" style="height:9rem" alt="">
            <p class="lead text-primary mt-3">Escuela de Recursos Humanos. <br />Desarrollamos tus habilidades para la
              gestión del talento con profesionales.</p>
          </div>
        </div>
      </div>
    </div>
  </header>