<!-- Navbar -->
<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-expand-lg blur border-radius-xl top-0
            z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0
            mx-4">
        <div class="container-fluid px-0">
          <a class="navbar-brand font-weight-bolder ms-sm-3" href="index.html" rel="tooltip"
            title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
            <img src="logo.png" alt="" style="width: 7rem ;" class="img-fluid">
          </a>
          <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
            data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon mt-2">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </span>
          </button>
          <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
            <ul class="navbar-nav navbar-nav-hover ms-auto">
              <li class="nav-item dropdown dropdown-hover mx-2">
                <a class="nav-link ps-2 d-flex cursor-pointer 
                      align-items-center" id="dropdownMenuPages" href="#home" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <i class="fas fa-home opacity-6 me-2 text-md"></i>
                  Inicio
                  <!--  <img src="./assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-auto ms-md-2"> -->
                </a>

              </li>
              <a class="nav-link ps-2 d-flex cursor-pointer
                align-items-center" id="dropdownMenuPages" href="#nosotros">
                <i class="fas fa-graduation-cap opacity-6 me-2 text-md"></i>
                Nosotros
                <!--  <img src="./assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-auto ms-md-2"> -->
              </a>
              </li>
              <li class="nav-item dropdown dropdown-hover mx-2">
                <a class="nav-link ps-2 d-flex cursor-pointer
                      align-items-center" id="dropdownMenuPages" href="#profesores">
                  <i class="fas fa-chalkboard-teacher opacity-6 me-2 text-md"></i>
                  Profesores
                  <!--  <img src="./assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-auto ms-md-2"> -->
                </a>

              </li>
              <li class="nav-item my-auto  dropdown dropdown-hover ms-3 ms-lg-0">
                <a class="btn btn-sm bg-gradient-primary cursor-pointer mb-0 me-1 mt-2
                      mt-md-0" id="cursos"> cursos & carreras</a>
                <ul class="dropdown-menu dropdown-menu-end
                      dropdown-menu-animation dropdown-md dropdown-md-responsive
                      p-3 border-radius-lg mt-0 mt-lg-3" aria-labelledby="cursos">
                  <div class="d-none d-lg-block">
                    <li class="nav-item dropdown dropdown-hover
                          dropdown-subitem">
                      <a class="dropdown-item py-2 ps-3 border-radius-md" href="./presentation.html">
                        <div class="w-100 d-flex align-items-center
                              justify-content-between">
                          <div>
                            <h6 class="dropdown-header text-dark
                                  font-weight-bolder d-flex
                                  justify-content-cente align-items-center p-0">
                              Recursos Humanos</h6>
                            <span class="text-sm">Ver todos los cursos</span>
                          </div>
                          <img src="./assets/img/down-arrow.svg" alt="down-arrow" class="arrow">
                        </div>
                      </a>
                      <div class="dropdown-menu mt-0 py-3 px-2 mt-3">
                        <a class="dropdown-item ps-3 border-radius-md mb-1" href="#">s
                          Recuros
                        </a>
                        <a class="dropdown-item ps-3 border-radius-md mb-1" href="#">
                          Humanos
                        </a>
                      </div>
                    </li>
                    <li class="nav-item dropdown dropdown-hover
                          dropdown-subitem">
                      <a class="dropdown-item py-2 ps-3 border-radius-md" href="./presentation.html">
                        <div class="w-100 d-flex align-items-center
                              justify-content-between">
                          <div>
                            <h6 class="dropdown-header text-dark
                                  font-weight-bolder d-flex
                                  justify-content-cente align-items-center p-0">
                              Temas Puntuals</h6>
                            <span class="text-sm">Capacitate mas</span>
                          </div>
                          <img src="./assets/img/down-arrow.svg" alt="down-arrow" class="arrow">
                        </div>
                      </a>
                      <div class="dropdown-menu mt-0 py-3 px-2 mt-3">
                        <a class="dropdown-item ps-3 border-radius-md mb-1" href="./sections/navigation/navbars.html">
                          CEO
                        </a>
                        <a class="dropdown-item ps-3 border-radius-md mb-1" href="./sections/navigation/nav-tabs.html">
                          Medium
                        </a>
                        <a class="dropdown-item ps-3 border-radius-md mb-1"
                          href="./sections/navigation/pagination.html">
                          Gold
                        </a>
                      </div>
                    </li>
                  </div>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
    </div>
  </div>
</div>