<section id="profesores" class="pb-5 pt-5 position-relative bg-gradient-dark
    mx-n3">

    <div class="container">
        <div class="row">
            <div class="col-md-8 text-start mb-5 mt-5">
                <h3 class="text-white z-index-1 position-relative">Nuestros
                    Profesores</h3>
                <p class="text-white opacity-8 mb-0"> Profesionales de Recursos
                    Humanos te enseñamos nuestras claves de éxito</p>
            </div>
        </div>
        <div id="carouselExampleControls" class="carousel slide"
            data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <section class="py-6">
                        <div class="container">
                            <div class="row row-cols-2">
                                <div class="col-lg-6 mb-lg-0 mb-6">
                                    <div class="card card-profile mt-4">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6 col-12
                                                mt-n5">
                                                <a href="javascript:;">
                                                    <div class="p-3 pe-md-0">
                                                        <img class="w-100
                                                            border-radius-md
                                                            shadow-lg"
                                                            src="assets/img/climb/profesor.jpg"
                                                            alt="image">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-lg-8 col-md-6 col-12
                                                my-auto">
                                                <div class="card-body ps-lg-0">
                                                    <div class="row">
                                                        <div class="col-sm-8">
                                                            <h5 class="mb-0">Juan
                                                                Manuel Fangio</h5>
                                                            <h6
                                                                class="text-info">Senior
                                                                HRBP</h6>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <img
                                                                src="assets/img/climb/ypf.png"
                                                                class="img-fluid"
                                                                alt="">
                                                        </div>
                                                    </div>

                                                    <p class="mb-3">Artist is a
                                                        term applied to a person
                                                        who
                                                        engages in an activity
                                                        deemed to be an art.</p>
                                                    <a href="javascript:;"
                                                        class="text-primary
                                                        icon-move-right mt-">Ver
                                                        los Cursos
                                                        <i class="fas
                                                            fa-arrow-right
                                                            text-sm ms-1"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-lg-0 mb-6">
                                    <div class="card card-profile mt-4">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6 col-12
                                                mt-n5">
                                                <a href="javascript:;">
                                                    <div class="p-3 pe-md-0">
                                                        <img class="w-100
                                                            border-radius-md
                                                            shadow-lg"
                                                            src="assets/img/climb/profesor.jpg"
                                                            alt="image">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-lg-8 col-md-6 col-12
                                                my-auto">
                                                <div class="card-body ps-lg-0">
                                                    <div class="row">
                                                        <div class="col-sm-8">
                                                            <h5 class="mb-0">Astor
                                                                Piazzolla</h5>
                                                            <h6
                                                                class="text-info">HR
                                                                Education &
                                                                Project</h6>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <img
                                                                src="assets/img/climb/fischer.png"
                                                                class="img-fluid"
                                                                alt="">
                                                        </div>
                                                    </div>

                                                    <p class="mb-3">Artist is a
                                                        term applied to a person
                                                        who
                                                        engages in an activity
                                                        deemed to be an art.</p>
                                                    <a href="javascript:;"
                                                        class="text-primary
                                                        icon-move-right mt-">Ver
                                                        los
                                                        Cursos
                                                        <i class="fas
                                                            fa-arrow-right
                                                            text-sm ms-1"></i>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="card card-profile mt-4
                                        z-index-2">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6 col-12
                                                mt-n5">
                                                <a href="javascript:;">
                                                    <div class="p-3 pe-md-0">
                                                        <img class="w-100
                                                            border-radius-md
                                                            shadow-lg"
                                                            src="assets/img/climb/profesor.jpg"
                                                            alt="image">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-lg-8 col-md-6 col-12
                                                my-auto">
                                                <div class="card-body ps-lg-0">
                                                    <div class="row">
                                                        <div class="col-sm-8">
                                                            <h5 class="mb-0">Benito
                                                                Quinquela Martin</h5>
                                                            <h6
                                                                class="text-info">Talent
                                                                Adquisition</h6>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <img
                                                                src="assets/img/climb/prestigio.png"
                                                                class="img-fluid"
                                                                alt="">
                                                        </div>
                                                    </div>

                                                    <p class="mb-3">Artist is a
                                                        term applied to a person
                                                        who
                                                        engages in an activity
                                                        deemed to be an art.</p>
                                                    <a href="javascript:;"
                                                        class="text-primary
                                                        icon-move-right mt-">Ver
                                                        los Cursos
                                                        <i class="fas
                                                            fa-arrow-right
                                                            text-sm ms-1"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="card card-profile mt-lg-4 mt-5
                                        z-index-2">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6 col-12
                                                mt-n5">
                                                <a href="javascript:;">
                                                    <div class="p-3 pe-md-0">
                                                        <img class="w-100
                                                            border-radius-md
                                                            shadow-lg"
                                                            src="assets/img/climb/profesor.jpg"
                                                            alt="image">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-lg-8 col-md-6 col-12
                                                my-auto">
                                                <div class="card-body ps-lg-0">
                                                    <div class="row">
                                                        <div class="col-sm-8">
                                                            <h5 class="mb-0">Carlos
                                                                Albero Garcia</h5>
                                                            <h6
                                                                class="text-info">Talent
                                                                & Development</h6>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <img
                                                                src="assets/img/climb/quilmes.png"
                                                                class="img-fluid"
                                                                alt="">
                                                        </div>
                                                    </div>

                                                    <p class="mb-3">Artist is a
                                                        term applied to a person
                                                        who
                                                        engages in an activity
                                                        deemed to be an art.</p>
                                                    <a href="javascript:;"
                                                        class="text-primary
                                                        icon-move-right mt-">Ver
                                                        los Cursos
                                                        <i class="fas
                                                            fa-arrow-right
                                                            text-sm ms-1"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="carousel-item">
                            <section class="py-6">
                                <div class="container">
                                    <div class="row row-cols-2">
                                        <div class="col-lg-6 mb-lg-0 mb-6">
                                            <div class="card card-profile mt-4">
                                                <div class="row">
                                                    <div class="col-lg-4
                                                        col-md-6 col-12 mt-n5">
                                                        <a href="javascript:;">
                                                            <div class="p-3
                                                                pe-md-0">
                                                                <img
                                                                    class="w-100
                                                                    border-radius-md
                                                                    shadow-lg"
                                                                    src="assets/img/climb/profesor.jpg"
                                                                    alt="image">
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="col-lg-8
                                                        col-md-6 col-12
                                                        my-auto">
                                                        <div class="card-body
                                                            ps-lg-0">
                                                            <div class="row">
                                                                <div
                                                                    class="col-sm-8">
                                                                    <h5
                                                                        class="mb-0">Juan
                                                                        Manuel
                                                                        Fangio</h5>
                                                                    <h6
                                                                        class="text-info">Senior
                                                                        HRBP</h6>
                                                                </div>
                                                                <div
                                                                    class="col-sm-4">
                                                                    <img
                                                                        src="assets/img/climb/ypf.png"
                                                                        class="img-fluid"
                                                                        alt="">
                                                                </div>
                                                            </div>

                                                            <p class="mb-3">Artist
                                                                is a term
                                                                applied to a
                                                                person who
                                                                engages in an
                                                                activity deemed
                                                                to be an art.</p>
                                                            <a
                                                                href="javascript:;"
                                                                class="text-primary
                                                                icon-move-right
                                                                mt-">Ver
                                                                los Cursos
                                                                <i class="fas
                                                                    fa-arrow-right
                                                                    text-sm
                                                                    ms-1"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 mb-lg-0 mb-6">
                                            <div class="card card-profile mt-4">
                                                <div class="row">
                                                    <div class="col-lg-4
                                                        col-md-6 col-12 mt-n5">
                                                        <a href="javascript:;">
                                                            <div class="p-3
                                                                pe-md-0">
                                                                <img
                                                                    class="w-100
                                                                    border-radius-md
                                                                    shadow-lg"
                                                                    src="assets/img/climb/profesor.jpg"
                                                                    alt="image">
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="col-lg-8
                                                        col-md-6 col-12
                                                        my-auto">
                                                        <div class="card-body
                                                            ps-lg-0">
                                                            <div class="row">
                                                                <div
                                                                    class="col-sm-8">
                                                                    <h5
                                                                        class="mb-0">Astor
                                                                        Piazzolla</h5>
                                                                    <h6
                                                                        class="text-info">HR
                                                                        Education
                                                                        &
                                                                        Project</h6>
                                                                </div>
                                                                <div
                                                                    class="col-sm-4">
                                                                    <img
                                                                        src="assets/img/climb/fischer.png"
                                                                        class="img-fluid"
                                                                        alt="">
                                                                </div>
                                                            </div>

                                                            <p class="mb-3">Artist
                                                                is a term
                                                                applied to a
                                                                person who
                                                                engages in an
                                                                activity deemed
                                                                to be an art.</p>
                                                            <a
                                                                href="javascript:;"
                                                                class="text-primary
                                                                icon-move-right
                                                                mt-">Ver
                                                                los
                                                                Cursos
                                                                <i class="fas
                                                                    fa-arrow-right
                                                                    text-sm
                                                                    ms-1"></i>
                                                            </a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <div class="card card-profile mt-4
                                                z-index-2">
                                                <div class="row">
                                                    <div class="col-lg-4
                                                        col-md-6 col-12 mt-n5">
                                                        <a href="javascript:;">
                                                            <div class="p-3
                                                                pe-md-0">
                                                                <img
                                                                    class="w-100
                                                                    border-radius-md
                                                                    shadow-lg"
                                                                    src="assets/img/climb/profesor.jpg"
                                                                    alt="image">
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="col-lg-8
                                                        col-md-6 col-12
                                                        my-auto">
                                                        <div class="card-body
                                                            ps-lg-0">
                                                            <div class="row">
                                                                <div
                                                                    class="col-sm-8">
                                                                    <h5
                                                                        class="mb-0">Benito
                                                                        Quinquela
                                                                        Martin</h5>
                                                                    <h6
                                                                        class="text-info">Talent
                                                                        Adquisition</h6>
                                                                </div>
                                                                <div
                                                                    class="col-sm-4">
                                                                    <img
                                                                        src="assets/img/climb/prestigio.png"
                                                                        class="img-fluid"
                                                                        alt="">
                                                                </div>
                                                            </div>

                                                            <p class="mb-3">Artist
                                                                is a term
                                                                applied to a
                                                                person who
                                                                engages in an
                                                                activity deemed
                                                                to be an art.</p>
                                                            <a
                                                                href="javascript:;"
                                                                class="text-primary
                                                                icon-move-right
                                                                mt-">Ver
                                                                los Cursos
                                                                <i class="fas
                                                                    fa-arrow-right
                                                                    text-sm
                                                                    ms-1"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <div class="card card-profile
                                                mt-lg-4 mt-5 z-index-2">
                                                <div class="row">
                                                    <div class="col-lg-4
                                                        col-md-6 col-12 mt-n5">
                                                        <a href="javascript:;">
                                                            <div class="p-3
                                                                pe-md-0">
                                                                <img
                                                                    class="w-100
                                                                    border-radius-md
                                                                    shadow-lg"
                                                                    src="assets/img/climb/profesor.jpg"
                                                                    alt="image">
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="col-lg-8
                                                        col-md-6 col-12
                                                        my-auto">
                                                        <div class="card-body
                                                            ps-lg-0">
                                                            <div class="row">
                                                                <div
                                                                    class="col-sm-8">
                                                                    <h5
                                                                        class="mb-0">Carlos
                                                                        Albero
                                                                        Garcia</h5>
                                                                    <h6
                                                                        class="text-info">Talent
                                                                        &
                                                                        Development</h6>
                                                                </div>
                                                                <div
                                                                    class="col-sm-4">
                                                                    <img
                                                                        src="assets/img/climb/quilmes.png"
                                                                        class="img-fluid"
                                                                        alt="">
                                                                </div>
                                                            </div>

                                                            <p class="mb-3">Artist
                                                                is a term
                                                                applied to a
                                                                person who
                                                                engages in an
                                                                activity deemed
                                                                to be an art.</p>
                                                            <a
                                                                href="javascript:;"
                                                                class="text-primary
                                                                icon-move-right
                                                                mt-">Ver
                                                                los Cursos
                                                                <i class="fas
                                                                    fa-arrow-right
                                                                    text-sm
                                                                    ms-1"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>

                            </div>
                            <div class="min-vh-75 position-absolute w-100
                                top-0">
                                <a class="carousel-control-prev ms-n5"
                                    href="#carouselExampleControls"
                                    role="button"
                                    data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon
                                        position-absolute bottom-50"
                                        style="margin-right: 15rem;"
                                        aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </a>
                                <a class="carousel-control-next me-n5"
                                    href="#carouselExampleControls"
                                    role="button"
                                    data-bs-slide="next">
                                    <span class="carousel-control-next-icon
                                        position-absolute bottom-50"
                                        aria-hidden="true" style="margin-left:
                                        15rem;"></span>
                                    <span class="visually-hidden">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 mx-auto text-center">
                            <button type="button" class="btn btn-outline-light text-white mb-0 pl-5 pr-5" style="font-size: large;padding-left: 5rem;padding-right: 5rem;">Ser profe CLIMB</button>
                        </div>
                    </div>
                </div>

            </section>